
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rajat Talwa<a href="#" class="age_button" on-click('incrementrajat')>click me</a></td>
                <td>Rajta Talwar is a software engineer</td>
                <td>${state.rajat_age}</td>
            </tr>
            <tr>
                <td>Amrita<a href="#" class="age_button" on-click('incrementamrita')>click me</a></td>
                <td>Amrita is a cooking master</td>
                <td>${state.amrita_age}</td>
            </tr>
            <tr>
                <td>Sana<a href="#" class="age_button"  on-click('incrementsana')>click me</a></td>
                <td> Sana is a student</td>
                <td>${state.sana_age}</td>
            </tr>
         
           
        </tbody></table>
    </div>