<div class="content">
  <div class="inner">
    <header class="major">
      <h3>CONCERTS</h3>
    </header>

    <ol>
    <for(item in state.concerts) >
      <li><b></b>${item}</li>
      </for>
    </ol>
      <ul class="actions">
        <li><a href="generic.html" class="button">Learn more</a></li>
      </ul>
  </div>
</div>
